<!DOCTYPE html>
<html>
<head>
    <title>회원가입 페이지</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
<h1>회원가입 페이지</h1>
<br/>
<form>
    <div class="form-group">
        <input type="email" id="email" placeholder="email을 입력해주세요"/>
    </div>

    <div class="form-group">
        <input type="password" id="password" placeholder="password을 입력해주세요"/>
    </div>

    <div class="form-group">
        <input type="text" id="nickName" placeholder="nickname을 입력해주세요"/>
    </div>

    <button type="button" id="btn-join">회원가입</button>

</form>
<a href="/login">로그인</a>
<script src="/js/app/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="/js/app/index.js"></script>
</body>
</html>